@model IEnumerable<scan.Models.Manga>

<h1>Resultados da Pesquisa</h1>

@if (!Model.Any())
{
    <p>Nenhum mangá encontrado.</p>
}
else
{
    <ul>
        @foreach (var manga in Model)
        {
            <li><a href="#">@manga.ImageUrl @manga.Title</a></li>
        }
    </ul>
}
