@model scan.Models.Manga

<h1>Criar Novo Manga</h1>

<form asp-action="Criar" method="post">
    <div class="form-group">
        <label asp-for="Title">Titulo:</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">URL da Imagem:</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Summary">Resumo:</label>
        <textarea asp-for="Summary" class="form-control"></textarea>
        <span asp-validation-for="Summary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Link">Link:</label>
        <input asp-for="Link" class="form-control" />
        <span asp-validation-for="Link" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PostDate">Data de Postagem:</label>
        <input asp-for="PostDate" class="form-control" />
        <span asp-validation-for="PostDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Criar Manga</button>
</form>
