@model scan.Models.Manga;
@{
    Layout = "_LayoutAdmin";
}
<p>Hello, World!</p>
<a asp-action="Create" asp-controller="MangaAdmin">Criar</a>
<br>
<a asp-action="Search" asp-controller="MangaAdmin">Editar</a>
