@model scan.Models.Manga
@{
    Layout = "_LayoutAdmin";
}
<p>editar capitulos</p>
<p>editar generos</p>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Title">Título:</label>
        <input asp-for="Title" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Title">Descrição:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Author">Author:</label>
        <input asp-for="Author" class="form-control" type="text">
    </div>
    <div class="form-group">
        <div class="form-group">
    <label asp-for="Status">Status:</label>
        <div class="form-group">
            <div>
                <input type="radio" name="Status" value="Em Progresso" checked>
                <label for="statusInProgress">Em Progresso</label>
            </div>
            <div>
                <input type="radio" name="Status" value="Finalizado">
                <label for="statusFinished">Finalizado</label>
            </div>
            <div>
                <input type="radio" name="Status" value="Abandonado">
                <label for="statusAbandoned">Abandonado</label>
            </div>
        </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Link da thumb:</label>
        <input asp-for="ImageUrl" type="url" class="form-control">
    </div>
    <button class="btn btn-primary mt-2" type="submit">Salvar</button>
</form>